---
---

@import "{{ site.theme }}";

header {
    background-color:#216100;
    color:#f9fcf2;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #152812;
    background-color: #f9fcf2;
}

a {
  color: #8ab22e;
}
a:hover,
a:focus {
  color: #216100;
}

header a, 
header a:hover, 
header a:focus {
  color: #f9fcf2;
}

h1,h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}


