---
---

@import "{{ site.theme }}";

header {
    background-color:#e0eaf3;
    color:#152812;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #152812;
    background-color: #f9fcf2;
}

a, header a, header h1 {
  color: #8ab22e;
}
a:hover,
a:focus {
  color: #216100;
}


h1,h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

td, th{
    font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
}

th {
    font-weight:bold
}

.text-right{text-align:right}
.text-center{text-align:center}
